@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #ffeed9;
  --blue: #39a7ff;
  --lightBlue: #87c4ff;
  --whiteBlue: #e0f4ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bg-auth::after {
  content: "";
  position: fixed;
  background: url("background-atas.svg");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 5rem;
  left: 0;
  right: 0;
  top: 0;

  @apply max-w-[444px] mx-auto;
}
.bg-auth::before {
  content: "";
  position: fixed;
  background: url("background-bawah.svg");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 15rem;
  left: 0;
  right: 0;
  bottom: -50px;

  @apply max-w-[444px] mx-auto  sm:bottom-[-100px];
}

.gallery {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  -webkit-column-width: 66%;
  -moz-column-width: 66%;
  column-width: 66%;
}
